<div id="parentId">
  <div>
    <nobr><input name="name[1]" type="text" style="width:300px;" />
    <select size="1" name="type[1]" style="width:150px;">
      <option value="text">Text</option>
      <option value="int">Integer</option>
      <option value="float">Int-price</option>
    </select>
    <a style="color:red;" onclick="return deleteField(this)" href="#">[—]</a>
    <input name="url[1]" type="text" style="width:300px;" />
    <a style="color:green;" onclick="return addField()" href="#">[+]</a></nobr>
  </div>
</div>

<script>
var countOfFields = 1;
var curFieldNameId = 1;
var maxFieldLimit = 25;
function deleteField(a) {
  if (countOfFields > 1)
  {
 var contDiv = a.parentNode;
 contDiv.parentNode.removeChild(contDiv);
 countOfFields--;
 }

 return false;
}
function addField() {

 if (countOfFields >= maxFieldLimit) {
 alert("Max field limit = " + maxFieldLimit);
 return false;
 }
  countOfFields++;
 curFieldNameId++;
 var div = document.createElement("div");
 div.innerHTML = "<nobr><input name=\"name[" + curFieldNameId + "]\" type=\"text\" style=\"width:300px;\" /> <select size=\"1\" name=\"type[" + curFieldNameId + "]\" style=\"width:150px;\"><option value=\"text\">Text</option><option value=\"int\">Integer</option><option value=\"float\">Int-price</option></select> <a style=\"color:red;\" onclick=\"return deleteField(this)\" href=\"#\">[—]</a> <input name=\"url[" + curFieldNameId + "]\" type=\"text\" style=\"width:300px;\" /> <a style=\"color:green;\" onclick=\"return addField()\" href=\"#\">[+]</a></nobr>";
 document.getElementById("parentId").appendChild(div);
 return false;
}
</script>